/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */
@import "chroma-relearn-dark.css";

:root {
    --MAIN-TEXT-color: #e0e0e0; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #ffffff; /* Color of titles h2-h3-h4-h5-h6 */
    --MAIN-LINK-color: #1c90f3; /* Color of links */
    --MAIN-LINK-HOVER-color: #4cabff; /* Color of hovered links */
    --MAIN-ANCHOR-color: #4cabff; /* color of anchors on titles */
    --MAIN-BG-color: #202020; /* color for code background */

    /* adjusted to relearn-dark chroma style */
    --CODE-BLOCK-color: #f8f8f8; /* fallback color for block code text */
    --CODE-BLOCK-BG-color: #2b2b2b; /* fallback color for block code background */
    --CODE-BLOCK-BORDER-color: #2b2b2b; /* color of block code border */

    --CODE-INLINE-color: #82e550; /* color for inline code text */
    --CODE-INLINE-BG-color: #2d2d2d; /* color for inline code background */
    --CODE-INLINE-BORDER-color: #464646; /* color of inline code border */

    --MERMAID-theme: dark; /* name of the default Mermaid theme for this variant, can be overridden in config.toml */
    --SWAGGER-theme: dark; /* name of the default Swagger theme for this variant, can be overridden in config.toml */

    --MENU-HOME-LINK-color: #d6d6d6; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #f6f6f6; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: #375a7f; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: rgb(78, 122, 169); /*Color of menu header border */

    --MENU-SEARCH-color: #e0e0e0; /* Color of search field text */
    --MENU-SEARCH-BG-color: #323232; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BORDER-color: #e0e0e0; /* Override search field border color */

    --MENU-SECTIONS-ACTIVE-BG-color: #323232; /* Background color of the active section and its children */
    --MENU-SECTIONS-BG-color: #2b2b2b; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #bababa; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #ffffff;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: var(--MENU-HEADER-BORDER-color); /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #202020; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #569cd8; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #606060; /* Color of <hr> separator in menu */

    /* base styling for boxes */
    --BOX-CAPTION-color: rgba( 240, 240, 240, 1 ); /* color of the title text */
    --BOX-BG-color: rgba( 20, 20, 20, 1 ); /* color of the content background */
    --BOX-TEXT-color: #e0e0e0; /* automatic color of the content text */
}
