/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */
@import "chroma-relearn-light.css";

:root {
    --MAIN-TEXT-color: #101010; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #4a4a4a; /* Color of titles h2-h3-h4-h5-h6 */
    --MAIN-LINK-color: #486ac9; /* Color of links */
    --MAIN-LINK-HOVER-color: #134fbf; /* Color of hovered links */
    --MAIN-ANCHOR-color: #134fbf; /* color of anchors on titles */
    --MAIN-BG-color: #ffffff; /* color of text by default */

    /* adjusted to relearn-light chroma style */
    --CODE-BLOCK-color: #000000; /* fallback color for block code text */
    --CODE-BLOCK-BG-color: #f8f8f8; /* fallback color for block code background */
    --CODE-BLOCK-BORDER-color: #d8d8d8; /* color of block code border */

    --CODE-INLINE-color: #5e5e5e; /* color for inline code text */
    --CODE-INLINE-BG-color: #fffae9; /* color for inline code background */
    --CODE-INLINE-BORDER-color: #f8e8c8; /* color of inline code border */

    --MENU-HOME-LINK-color: #d6d6d6; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #f6f6f6; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: #375a7f; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: rgb(78, 122, 169); /*Color of menu header border */

    --MENU-SEARCH-color: #e0e0e0; /* Color of search field text */
    --MENU-SEARCH-BG-color: #323232; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BORDER-color: #e0e0e0; /* Override search field border color */

    --MENU-SECTIONS-ACTIVE-BG-color: rgba( 0, 0, 0, .166 ); /* Background color of the active section and its children */
    --MENU-SECTIONS-BG-color: #282828; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #bababa; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #ffffff;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: var(--MENU-VISITED-color); /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ffffff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #506397; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #606060; /* Color of <hr> separator in menu */

    /* base styling for boxes */
    --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* color of the title text */
    --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* color of the content background */
    --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* fixed color of the content text */
}
